@inherits LayoutComponentBase
@inject AuthService AuthService
@inject NavigationManager NavigationManager
@using GloboClimaFrontend.Services

<div class="page">
    <div class="sidebar">
        <NavMenu @ref="navMenu" IsLoggedIn="@AuthService.IsLoggedIn" />
    </div>

    <main>
        <div class="top-row px-4">
            @if (AuthService.IsLoggedIn)
            {
                <a style="cursor: pointer;" @onclick="Logout">Logout</a>
            }
            else
            {
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private NavMenu navMenu;

    protected override async Task OnInitializedAsync()
    {
        await AuthService.IsLoggedInAsync();
        navMenu.UpdateLoginStatus();
    }

    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        navMenu.UpdateLoginStatus();
        NavigationManager.NavigateTo("/");
    }
}
